@import url(var.css);

*,
html {
  margin: 0%;
  padding: 0%;
}

.hamburger {
  margin-left: 10px;
  cursor: pointer;
}

.bar1 {
  display: none;
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 15px;
  margin: 4px;
  transition: 1s;
  margin-left: 0;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar2 {
  display: none;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: 1s;
  margin-left: 0;
  border-radius: 15px;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar3 {
  display: none;
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 15px;
  margin: 4px;
  transition: 1s;
  margin-left: 0;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar1 {
  transform: translate(0, -8px) rotate(45deg);
}

.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar3 {
  transform: translate(0, -8px) rotate(-45deg);
}

.logo-container {
  height: 150px;
}

.logo-brand {
  font-family: "fontproduct", sans-serif;
  color: black;
  font-size: 20ch;
  justify-content: left;
  margin-left: 50px;
  transition-property: all;
  transition: all 2s;
}
.logo-brand:hover {
  color: grey;
}

.main-header {
  width: 100%;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: black;
}
h1 {
  font-family: "fontproduct";
  color: white;
  animation-name: pull_over;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 20px;
  width: 100%;
}

.container-home {
  width: 100%;
}

.container-menuitem {
  width: 100%;
  margin-left: 50px;
}

.container-menucenter {
  display: flex;
  width: 100%;
  margin-top: 17px;
}

@keyframes pull_over {
  from {
    margin-right: auto;
  }

  to {
    margin-left: auto;
    font-size: 15px;
  }
}

header {
  position: fixed;
  z-index: 101;

  background-color: transparent;
  transition-property: all;
  transition: 0.4 ease-in-out;
}

header.scrolled {
  background-color: #fff;
  opacity: 0.98;
  color: black;
}

header nav a {
  transition: color 0.4s ease-in-out;
  background-color: transparent;
}

header.scrolled nav a {
  color: black;
}

body {
  background-color: white;
  color: #000;
  width: 100%;
  height: 100vh;
  padding-top: 0%;
}

.dark-mode {
  background-color: #000;
  color: white;
  width: 100%;
  height: 100vh;
  padding-top: 0%;
}

#mybtn {
  border: none;
  background-color: white;
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.banner-img {
  width: 100%;
  height: 80%;
}

.li-navbar {
  font-size: x-large;
  padding: 14px;
  color: black;
  transition: 2s;
}

.ul-navbar {
  font-family: "fontproduct", sans-serif;
  font-size: small;
  color: black;
  text-align: left;
  display: flex;
  list-style-type: none;
  font-size: medium;
}

.li-navbar2 {
  display: flex;
}

.ul-navbar2 {
  font-family: "fontproduct", sans-serif;
  font-size: large;
  color: black;
  text-align: right;
  display: flex;
  list-style-type: none;
  font-size: 25px;
  justify-content: end;
  gap: 10px;
  margin-right: 10px;
}

.form-container {
  justify-content: right;
  display: flex;
  border: none;
  gap: 1px;
  width: 90%;
}

.container-wraper {
  width: 100%;
}

.container-content1 {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 1fr 1fr;
}

.container-content1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: filter;
}

.container-content1 img:hover {
  filter: sepia(100%);
  transform: scale(0.99) translate(0%, 0%);
}

.content1-img {
  /* border: 1px solid; */
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.content2-img {
  /* border: 1px solid; */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  object-fit: cover;
}

.content3-img {
  /* border: 1px solid; */
  grid-column-start: 3;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  object-fit: cover;
}

.content4-img {
  /* border: 1px solid; */
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  object-fit: cover;
}

.content5-img {
  /* border: 1px solid; */
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  object-fit: cover;
}

.content6-img {
  /* border: 1px solid; */
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  object-fit: cover;
}

.content7-img {
  /* border: 1px solid; */
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}

.Cari {
  border: none;

  background-color: transparent;
  width: 300px;
  height: 20px;
  color: black;
  border-bottom: 1px solid var(--primary-color);
}

.submit {
  font-family: "fontproduct", sans-serif;
  font-size: larger;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.container-main {
  position: relative;
  top: 350px;
}
.container-shirt {
  display: flex;
  flex-wrap: wrap;
}

.li-shirt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: unset;
  padding: 10px;
  border: 1px solid;
}

span {
  font-family: "fontproduct", sans-serif;
  display: flex;
  position: relative;
  top: 450px;
  justify-content: center;
  font-size: xx-large;
}

.image-store {
  display: flex;
  width: 100%;
  transition: 2s;
}

.image-store img {
  width: 100%;
}

.wrapper-store {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

#slide-1:target ~ .image-store {
  margin-left: 0px;
}

#slide-2:target ~ .image-store {
  margin-left: -100%;
}

#slide-3:target ~ .image-store {
  margin-left: -200%;
}

#slide-4:target ~ .image-store {
  margin-left: -300%;
}

.navigation-slide a {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: var(--primary-color);
  font-size: 0px;
  border-radius: 50px;
  margin: 3px;
  transition: 1s;
}

.navigation-slide:hover {
  color: black;
}

.navigation-slide {
  text-align: center;
}

.subscribe-container {
  width: 100%;

  margin-top: 20px;
  height: 120px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 50%;
  width: 100%;
  gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.join {
  width: 80px;
  height: 30px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  width: 10%;
  transition: 1s;
  font-family: var(--primary-font);
}

.join:hover {
  color: white;
  background-color: black;
}

.subscribe {
  width: 90%;
  justify-content: center;
  border: none;
  background-color: transparent;
  height: 20px;
  border-bottom: 1px solid rgb(180, 178, 178);
  font-family: var(--primary-font);
  letter-spacing: 1px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid var(--primary-color);
}

.footer-main {
  height: 100%;
  width: 100%;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 5px;
}

.ul-footer {
  font-family: "fontproduct", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 5px;
  font-size: medium;
  gap: 10px;
  width: 100%;
  height: 100px;
}

.ul-footer a {
  color: var(--primary-color);
}

.li-footer {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
}

.footer-social a {
  color: var(--primary-color);
}

.footer-end {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  font-size: small;
  color: var(--primary-color);
  font-family: var(--primary-font);
  letter-spacing: 2px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-between;
}

.container-currency {
  margin-right: 10px;
}

#currency {
  height: 50px;
  padding-right: 5px;
}

.container-description {
  height: 40px;
}

.gambar-product {
  width: 400px;
  height: 400px;
}

.form-login {
  padding: 20px;
  font-family: "fontproduct", sans-serif;
  font-size: xx-large;
}
.Email {
  font-family: "fontproduct", sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 200px;
}

.Password {
  font-family: "fontproduct", sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 200px;
}

.button-login {
  margin-bottom: 20px;
  margin-left: 20px;
}

.forget-password {
  font-family: "fontproduct", sans-serif;
  margin-bottom: 50px;
  margin-left: 20px;
  width: 200px;
}

.container-register {
  display: flex;
  padding: 20px;
}

.regist-akun {
  display: flex;
  padding: 20px;
  font-family: "fontproduct", sans-serif;
  font-size: xx-large;
}

.checkbox-agreement {
  position: relative;
  left: 20px;
  margin-bottom: 20px;
  display: flex;
}

@media (min-width: 1202px) {
  .wrapper-store {
    width: 900px;
    margin: auto;
    overflow: hidden;
  }
}

@media (max-width: 731px) {
  *,
  html {
    margin: 0%;
    padding: 0%;
  }

  .logo-container {
    height: 120px;
  }

  .wrapper-store {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .navigation-slide a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    font-size: 0px;
    border-radius: 50px;
    margin: 3px;
    transition: 1s;
  }

  .logo-brand {
    font-family: "fontproduct", sans-serif;
    color: black;
    font-size: 15ch;
    justify-content: left;
    margin-left: 50px;
    transition-property: all;
    transition: all 2s;
  }
  .logo-brand:hover {
    color: grey;
  }

  .li-navbar {
    font-size: medium;
    padding: 14px;
    color: black;
    transition: 2s;
    position: relative;
    right: 7px;
  }

  .ul-navbar {
    font-family: "fontproduct", sans-serif;
    font-size: small;
    color: black;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    font-size: medium;
  }
}

@media (max-width: 500px) {
  html {
    margin: 0%;
    padding: 0%;
  }

  .container-home {
    display: none;
  }

  .logo-container {
    height: 70px;
  }

  .logo-brand {
    font-family: "fontproduct", sans-serif;
    color: black;
    font-size: 7ch;
    justify-content: left;
    margin-left: 50px;
    transition-property: all;
    transition: all 2s;
  }
  .logo-brand:hover {
    color: grey;
  }

  .li-navbar {
    display: none;
    font-size: medium;
    padding: 14px;
    color: black;
    transition: 2s;
    position: relative;
    right: 7px;
  }

  .Cari {
    position: relative;
    bottom: 100px;
    left: 30px;
    display: flex;
    width: 150px;
    border-radius: 0px;
    border-bottom: 1px solid var(--primary-color);
    color: black;
  }

  .bx.bx-search-alt-2 {
    position: relative;
    bottom: 100px;
    left: 33px;
    margin-right: 10px;
  }

  .hamburger {
    margin-left: 10px;
    cursor: pointer;
  }

  .bar1 {
    width: 20px;
    height: 2px;
    background-color: black;
    border-radius: 15px;
    margin: 4px;
    transition: 1s;
    margin-left: 0;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .bar2 {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 4px;
    transition: 1s;
    margin-left: 0;
    border-radius: 15px;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .bar3 {
    width: 20px;
    height: 2px;
    background-color: black;
    border-radius: 15px;
    margin: 4px;
    transition: 1s;
    margin-left: 0;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.active .bar1 {
    transform: translate(0, -8px) rotate(45deg);
  }

  .hamburger.active .bar2 {
    opacity: 0;
  }

  .hamburger.active .bar3 {
    transform: translate(0, -8px) rotate(-45deg);
  }

  .container-footer {
    height: 300px;
    width: 100%;
    display: flex;
  }

  .footer-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50px;
  }

  .footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@font-face {
  font-family: "fontproduct";
  src: url(font/BebasNeue-Regular.ttf);
  font-style: normal;
  font-weight: 100%;
}
