*,
html {
  margin: 0%;
  padding: 0%;
}

.hamburger {
  margin-left: 10px;
  cursor: pointer;
}

.bar1 {
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 15px;
  margin: 4px;
  transition: 1s;
  margin-left: 0;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar2 {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: 1s;
  margin-left: 0;
  border-radius: 15px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar3 {
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 15px;
  margin: 4px;
  transition: 1s;
  margin-left: 0;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar1 {
  transform: translate(0, -8px) rotate(45deg);
}

.hamburger.active .bar2 {
  opacity: 0;
}

.hamburger.active .bar3 {
  transform: translate(0, -8px) rotate(-45deg);
}

.logo-container {
  height: 150px;
}

.logo-brand {
  font-family: "fontproduct", sans-serif;
  color: black;
  font-size: 20ch;
  justify-content: left;
  margin-left: 50px;
  transition-property: all;
  transition: all 2s;
}
.logo-brand:hover {
  color: grey;
}

.main-header {
  width: 100%;
}

.container-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: black;
}
h1 {
  font-family: "fontproduct";
  color: white;
  animation-name: pull_over;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 20px;
  width: 100%;
}

.container-home {
  width: 100%;
}

.container-menuitem {
  width: 100%;
  margin-left: 50px;
}

.container-menucenter {
  display: flex;
  width: 100%;
  margin-top: 17px;
}

@keyframes pull_over {
  from {
    margin-right: auto;
  }

  to {
    margin-left: auto;
    font-size: 15px;
  }
}

header {
  position: fixed;
  z-index: 101;

  background-color: transparent;
  transition-property: all;
  transition: 0.4 ease-in-out;
}

header.scrolled {
  background-color: #fff;
  opacity: 0.98;
  color: black;
}

header nav a {
  transition: color 0.4s ease-in-out;
  background-color: transparent;
}

header.scrolled nav a {
  color: black;
}

body {
  background-color: white;
  width: 100%;
  height: 100vh;
  padding-top: 0%;
}

a {
  text-decoration: none;
  color: black;
}

.banner-img {
  width: 100%;
  height: 80%;
}

.li-navbar {
  font-size: x-large;
  padding: 14px;
  color: black;
  /* position: relative;
  bottom: 65px;
  right: 40px; */
  transition: 2s;
}

.ul-navbar {
  font-family: "fontproduct", sans-serif;
  font-size: small;
  color: black;
  text-align: left;
  display: flex;
  list-style-type: none;
  font-size: medium;
}

.li-navbar2 {
  display: flex;
}

.content-mobile {
  display: flex;
}

.navbar-mobile {
  display: flex;
  padding: 10px;
  font-family: "fontproduct", sans-serif;
  position: relative;

  display: none;
  font-size: medium;
}

.ul-navbar2 {
  font-family: "fontproduct", sans-serif;
  font-size: large;
  color: black;
  text-align: right;
  display: flex;
  list-style-type: none;
  font-size: 25px;
  justify-content: end;
  gap: 10px;
  margin-right: 10px;
}

.form-container {
  justify-content: right;
  display: flex;
  padding: 10px;

  border: none;
  gap: 10px;
  width: 90%;
}

.container-wraper {
  width: 100%;

  margin-top: 20px;
}

.container-content1 {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 1fr 1fr;
}

.container-content1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition-duration: 1s;
  transition-property: filter;
}

.container-content1 img:hover {
  filter: sepia(100%);
  transform: scale(0.99) translate(0%, 0%);
}

.content1-img {
  /* border: 1px solid; */
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}
.content2-img {
  /* border: 1px solid; */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  object-fit: cover;
}

.content3-img {
  /* border: 1px solid; */
  grid-column-start: 3;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  object-fit: cover;
}

.content4-img {
  /* border: 1px solid; */
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

  object-fit: cover;
}

.content5-img {
  /* border: 1px solid; */
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;

  object-fit: cover;
}

.content6-img {
  /* border: 1px solid; */
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  object-fit: cover;
}

.content7-img {
  /* border: 1px solid; */
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
}

.Cari {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  width: 300px;
  height: 20px;
  color: grey;
}

.submit {
  font-family: "fontproduct", sans-serif;
  font-size: larger;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.container-main {
  position: relative;
  top: 300px;
}
.container-shirt {
  display: flex;
  flex-wrap: wrap;
}

.li-shirt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: unset;
  padding: 10px;
  border: 1px solid;
}

span {
  font-family: "fontproduct", sans-serif;
  display: flex;
  position: relative;
  top: 450px;
  justify-content: center;
  font-size: xx-large;
}

.li-footer {
  display: flex;
  margin-top: 425px;
  justify-content: center;
  padding: 18px;
}

.social-media {
  font-family: "fontproduct", sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: x-large;
  text-shadow: grey 0 2px;
}

.ul-footer {
  font-family: "fontproduct", sans-serif;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: large;
  text-shadow: grey 0 2px;
}

.container-description {
  height: 40px;
}

.name-product {
  position: relative;
}

.gambar-product {
  width: 400px;
  height: 400px;
}

.form-login {
  padding: 20px;
  font-family: "fontproduct", sans-serif;
  font-size: xx-large;
}
.Email {
  font-family: "fontproduct", sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 200px;
}

.Password {
  font-family: "fontproduct", sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 200px;
}

.button-login {
  margin-bottom: 20px;
  margin-left: 20px;
}

.forget-password {
  font-family: "fontproduct", sans-serif;
  margin-bottom: 50px;
  margin-left: 20px;
  width: 200px;
}

.container-register {
  display: flex;
  padding: 20px;
}

.regist-akun {
  display: flex;
  padding: 20px;
  font-family: "fontproduct", sans-serif;
  font-size: xx-large;
}

.checkbox-agreement {
  position: relative;
  left: 20px;
  margin-bottom: 20px;
  display: flex;
}

@media (max-width: 731px) {
  *,
  html {
    margin: 0%;
    padding: 0%;
  }
  .logo-navbar {
    display: none;
  }

  .ul-navbar {
    font-family: "fontproduct", sans-serif;
    font-size: small;
    color: black;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    font-size: medium;
  }

  /* .form-container {
    position: relative;
    top: 10px;
    left: 10px;
    padding: 90px;
  } */

  /* .form-container {
    justify-content: right;
    padding: 10px;
    position: relative;
    right: 50px;
    border: none;
    gap: 10px;
    bottom: 250px;
    margin-bottom: 50px;
  } */
}

@font-face {
  font-family: "fontproduct";
  src: url(font/BebasNeue-Regular.ttf);
  font-style: normal;
  font-weight: 100%;
}
